.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name masa
      %ul.top-items__icons
        %li.top-items__icons--new
          = link_to "#" do
            =icon('fas', 'edit')
        %li.top-items__icons--set
          = link_to "#" do
            =icon('fas', 'cog')

  .side-bar__grouplist
    %p.side-bar__grouplist--name techcamp
    %p.side-bar__grouplist--message まだメッセージがありません